.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 9px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 0ch;
}
.pagination-button:hover {
  background-color: #006eff28;
}

.pagination-button.active {
  color: #007bff;
}

.pagination-button:hover:not(.active) {
  color: #007bff;
}
